#head {
  color: pink;
}
img {
  width: 80%;
}
.isabella {
background-image: url("../images/matiaejofillo.jpg");
height: 380px;
background-size: cover;
position: relative;
}
#text-1 {
  font-family: "Bell MT"
}
#text-1 span {
  font-family: "Freestyle Script"
}

#isa {
  position: absolute;
    bottom: 70px;
    right: 520px;
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 100px;
    text-decoration: none;
}

li a:hover {
    background-color: #DCDCDC;
}
#portofolio {
  margin: 3px;
}
#portofolio img {
  padding-bottom: 10px;
  padding-top: 10px;
}
img {
  width: 100%
}
